<div class="container mobile-center">
  <h1 class="display-4" style="margin-top: 50px">
    Welcome to my Bible research tool
  </h1>
  <p class="body-text">
    This app is still in development, so if you find a bug or something isn't
    working the way you expect it to, please let me know. The data for this
    project came from the open-source project "<a
      href="https://m.viz.bible/"
      style="text-decoration: none"
      target="_blank"
      >theographic</a
    >". For this reason, I am able to use the data freely but it also means that
    I did not gather the data myself and cannot ensure it's accuracy. If you
    find any information to be incorrect, please contact me so that I can
    correct it as soon as possible. The theographic team is still in the process
    of gathering data, so some of the datasets used in this application are
    incomplete, most notably, the data related to the timeline, such as the
    events and periods. Documentation for the data can be found
    <a
      href="https://github.com/robertrouse/theographic-bible-metadata"
      style="text-decoration: none"
      target="_blank"
      >here</a
    >
    Good luck, and I hope you have a great experience using this tool.
  </p>
</div>
