<div class="container mobile-center">
  <h1 class="display-4" style="margin-top: 50px">
    Entity Search Tool (In Development)
  </h1>

  <h1 class="display-4" style="margin-top: 80px">User Guide</h1>
  <p class="body-1 body-text">
    The goal of the Entity Search Tool is to provice a central source for
    information researching biblical entities such as people, places, books,
    etc. The data from this tool is actively being compiled, but is still
    incomplete. If something doesn't show up here, it is recommended that you
    try searching the Dictionary Tool.
  </p>
</div>
