<div class="container mobile-center">
  <h1 class="display-4" style="margin-top: 50px">Resources</h1>
  <p><br>
    <a
      href="https://m.viz.bible/"
      style="text-decoration: none"
      target="_blank"
      >Theographic Project Page</a
    ><br><br>
    <a
      href="https://github.com/robertrouse/theographic-bible-metadata"
      style="text-decoration: none"
      target="_blank"
      >Theographic Data/Documentation</a
    ><br><br>
    <a
      href="https://rocketbible.com/"
      style="text-decoration: none"
      target="_blank"
      >ROCKETBIBLE</a
    > - Not affiliated with me or my project, but I think tey have very good research tools.
  </p>
</div>
